<div class="overlay" [hidden]="overlayHidden"></div>

<ion-header>
	<ion-navbar color="main-theme">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Request</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div class="emptyMessage" *ngIf="!haveData()">
	    <ion-icon name="repeat"></ion-icon>
	    <h5>You don't have any request record.</h5>
	</div>

	<ion-grid>
		<ion-row>

			<!-- Profile -->
			<ion-col col-12>
				<ion-list>
					<button ion-item *ngFor="let req of requests">
						<table>
							<tr>
								<th class="pull-left">{{req.created_at | date: 'dd MMM yyyy, h:mm a'}}</th>
								<th class="pull-right green">{{req.amount}} ETP</th>
							</tr>
							<tr>
								<td colspan="2">
									<small>Email: {{req.email}}</small>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<small>Description: {{req.description}}</small>
								</td>
							</tr>
						</table>
					</button>

				</ion-list>

				<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
					<ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>

			</ion-col>
			<!-- / Profile -->

		</ion-row>
	</ion-grid>

	<ion-fab right bottom #fab>
		<button ion-fab class="fab-more" (click)="hideOverlay()"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab (click)="openAddForm(fab)" class="fab-child">
				<ion-icon name="trending-down" type="button"></ion-icon>
				<ion-label>Request ETP</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>

</ion-content>
