page-register {
	h2{
		color: map-get($colors, white);
		font-size: 3em;
	}
	.login-content {
		background: map-get($colors, white);
		
		.logo-row {
			padding-top: 50px;
			padding-bottom: 20px;
		}
		
		.login-box {
			background: map-get($colors, white);
			padding: 20px;
			margin-top: 30px;
			border-radius: 10px !important;
		}
		
		ion-row {
			align-items: center;
			text-align: center;
		}
		
		ion-item {
			// border-radius: 30px !important;
			// padding-left: 30px !important;
			font-size: 0.9em;
			// margin-bottom: 10px;
			border: 1px solid map-get($colors, web-grey);
			// border-bottom: 1px !important;
			// box-shadow: none !important;
			margin-bottom: 10px;
		}

		.item:first-child{
			border-top: 1px solid map-get($colors, web-grey) !important;
		}
		
		.item:last-child{
			border-bottom: 1px solid map-get($colors, web-grey) !important;
		}
		// .signup-col {
		// 	margin: 0px 16px 0px 16px;
		// 	padding-bottom: 20px;
		// }
		
		.item-inner {
			border-bottom: 1px red !important;
			box-shadow: none !important;
		}
		
		.submit-btn {
			background: map-get($colors, main-theme);
			// border-radius: 30px !important;
			border: 1px solid #ffffff;
		}
		
		.register-btn {
			color: map-get($colors, main-theme);
			font-size: 0.8em;
		}
	}
}