page-profile {

	.grid{
		padding: 0px;

		.button-md{
			margin: 0px !important;
			height: 3.7em !important;
		}

		ion-item{
			padding-right: 16px;
			border-bottom: 0px !important;
			.item-inner{
				border-bottom: 1px solid #dedede !important;
			}
		}
		.picture_wrapper{
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			// background: map-get($colors, orange);
			padding: 1em;
			background-image: url('../images/bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;

			img{
				max-height: 10em;
				border-radius: 50%;
			}
		}
	}
}
