<ion-header>
    <ion-navbar color="main-theme">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Wallet</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>

            <ion-col col-6>

                <div class="dashboard gold">

                    <ion-icon name="logo-usd"></ion-icon>

                    <h2><strong>Balance</strong></h2>
                    <div class="seperator"></div>
                    <p>{{balance}} ETP</p>
                    
                </div>
            
            </ion-col>

            <ion-col col-6>

                <div class="dashboard gold">

                    <ion-icon name="trending-up"></ion-icon>

                    <h2><strong>Total Transfered</strong></h2>
                    <div class="seperator"></div>
                    <p>{{transfered}} ETP</p>
                    
                </div>
            
            </ion-col>

            <ion-col col-6>

                <div class="dashboard gold">

                    <ion-icon name="trending-down"></ion-icon>

                    <h2><strong>Total Received</strong></h2>
                    <div class="seperator"></div>
                    <p>{{received}} ETP</p>
                    
                </div>
            
            </ion-col>

            <ion-col col-6>

                <div class="dashboard gold">

                    <ion-icon name="stats"></ion-icon>

                    <h2><strong>ETP Price</strong></h2>
                    <div class="seperator"></div>
                    <p>{{dncPrice | number:'1.2-2'}} USD</p>
                    
                </div>
            
            </ion-col>

        </ion-row>

        <ion-row>

            <h4 *ngIf="transactions != null && transactions.length > 0">Last {{transactions != null ? transactions.length : ''}} Transactions</h4>
            <ion-slides>

                <ion-slide *ngFor="let txn of transactions">
                    <ion-card color="{{txn.type == 'receive' ? 'light-green' : 'orange'}}">
                        <ion-icon name="trending-up" class="card-icon" color="white"></ion-icon>
                        <ion-card-header>
                            {{ txn.created_at | date: 'dd MMM yyyy, h:mm a' }}
                        </ion-card-header>
                        <ion-card-content>
                            <table>
                                <tr>
                                    <th>Amount:</th>
                                    <td>{{ txn.amount }} ETP</td>
                                </tr>
                                <tr>
                                    <th>{{txn.type == 'receive' ? 'From' : 'To'}}:</th>
                                    <td>{{txn.type == 'receive' ? txn.user.profile.name : txn.receiver_address}}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ txn.target_email }}</td>
                                </tr>
                            </table>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <!-- <ion-slide>
                    <ion-card color="transfer-orange">
                        <ion-icon name="trending-up" class="card-icon" color="white"></ion-icon>
                        <ion-card-header>
                            15 June 2017, 1:25 pm
                        </ion-card-header>
                        <ion-card-content>
                            <table>
                                <tr>
                                    <th>Amount:</th>
                                    <td>4 ETP</td>
                                </tr>
                                <tr>
                                    <th>To:</th>
                                    <td>khsbdkdshbfdhsfbjsdhbfdsdfsdf</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>lala@lala.lala</td>
                                </tr>
                            </table>
                        </ion-card-content>
                    </ion-card>
                </ion-slide>

                <ion-slide>
                    <ion-card color="receive-green">
                        <ion-icon name="trending-down" class="card-icon" color="white"></ion-icon>
                        <ion-card-header>
                            15 June 2017, 1:25 pm
                        </ion-card-header>
                        <ion-card-content>
                            <table>
                                <tr>
                                    <th>Amount:</th>
                                    <td>4 ETP</td>
                                </tr>
                                <tr>
                                    <th>From:</th>
                                    <td>Malik</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>lala@lala.lala</td>
                                </tr>
                            </table>
                        </ion-card-content>
                    </ion-card>
                </ion-slide> -->

            </ion-slides>
        </ion-row>
    </ion-grid>

</ion-content>
