page-home {

	.card-icon{
		position: absolute;
		right: 0.6em;
		top: 0.3em;
		font-size: 3em;
	}
	
	table{
		td{
			padding-left: 1em;
		}
	}

	.header-center{
		@include flexbox;
		@include justify-content(center);

		ion-icon{
			font-size: 3em !important;
		}
	}

	ion-card-content{
		text-align: center;
	}

	ion-slide{
		ion-card-header{
			text-align: left;
			font-size: 2rem !important;
		}

		ion-card-content{
			text-align: left;
		}
	}

	ion-row{
		h4{
			margin-left: 10px;
		}
	}
}
