<ion-header>

	<ion-navbar color="main-theme">
		<ion-title>Stake Profit</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="closeSelf()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		
	</ion-navbar>

</ion-header>

<ion-content>

	<!-- <div class="emptyMessage" *ngIf="!haveData()">
	    <ion-icon name="repeat"></ion-icon>
	    <h5>You don't have any stake record.</h5>
	</div> -->

	<ion-grid>
		<ion-row>

			<!-- Profile -->
			<ion-col col-12>
				<ion-list>
					<!-- *ngFor="let req of requests" -->
					<button ion-item>
						<table>
							<tr>
								<!-- req.created_at | date: 'dd MMM yyyy, h:mm a' -->
								<th class="pull-left">12 May 2017, 09:30 pm</th>
								<!-- req.amount ETP -->
								<th class="pull-right green">1 ETP</th>
							</tr>
							<tr>
								<td><small>Month 1</small></td>
							</tr>
						</table>
					</button>

				</ion-list>

				<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
					<ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>

			</ion-col>
			<!-- / Profile -->

		</ion-row>
	</ion-grid>

</ion-content>
