<ion-header>
	<ion-navbar color="main-theme">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Transfer</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div class="emptyMessage" *ngIf="!haveData()">
	    <ion-icon name="repeat"></ion-icon>
	    <h5>You don't have any transfer record.</h5>
	</div>

	<ion-grid>
		<ion-row>

			<!-- Profile -->
			<ion-col col-12>
				<ion-list>
					<button ion-item *ngFor="let txn of transactions">
						<table>
							<tr>
								<th class="pull-left">{{txn.created_at}}</th>
								<th class="pull-right {{txn.type == 'receive' ? 'orange' : 'green'}}">{{txn.amount}} ETP</th>
							</tr>
							<tr>
								<td class="pull-left">
									<small>TXN: {{txn.receiver_address}}</small>
								</td>
								<td class="pull-right">
									<small>Confirmations: 100</small>
								</td>
							</tr>
							<tr>
								<td class="pull-left"><small>Remarks: {{txn.description}}</small></td>
								<td class="pull-right"><small>Fee: 0.0000123</small></td>
							</tr>
						</table>
					</button>

				</ion-list>

				<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
					<ion-infinite-scroll-content></ion-infinite-scroll-content>
				</ion-infinite-scroll>

			</ion-col>
			<!-- / Profile -->

		</ion-row>
	</ion-grid>

	<ion-fab right bottom #fab>
		<button ion-fab class="fab-more"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list side="top">
			<button ion-fab (click)="openAddForm(fab)" class="fab-child">
				<ion-icon name="trending-up" type="button"></ion-icon>
				<ion-label>Transfer ETP</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>

</ion-content>
